@page "/issuetypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CFIssueTrackerCommon.Data
@using CFIssueTrackerCommon.Models
@using CFIssueTracker.Data
@using CFIssueTracker.Utilities
@implements IAsyncDisposable
@inject IDbContextFactory<CFIssueTrackerContext> DbFactory

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Issue Type List</h1>

<p>
    <a href="issuetypes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.IssueType">
    <PropertyColumn Property="issuetype => issuetype.Name" />

    <TemplateColumn Title="Color" Context="issuetype">
        <input type="color" value="@GetIssueTypeColor(@issuetype)" />
    </TemplateColumn>

    <TemplateColumn Context="issuetype">
        <a href="@($"issuetypes/edit?id={issuetype.Id}")">Edit</a> |
        <a href="@($"issuetypes/details?id={issuetype.Id}")">Details</a> |
        <a href="@($"issuetypes/delete?id={issuetype.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CFIssueTrackerContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    private string GetIssueTypeColor(IssueType issueType)
    {
        return HTMLUtilities.GetHTMLColor(issueType.Color);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
