@page "/issuetypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CFIssueTrackerCommon.Models
@using CFIssueTracker.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CFIssueTracker.Data.CFIssueTrackerContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Issue Type List</h1>

<p>
    <a href="issuetypes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.IssueType">
    <PropertyColumn Property="issuetype => issuetype.Name" />

    <TemplateColumn Context="issuetype">
        <a href="@($"issuetypes/edit?id={issuetype.Id}")">Edit</a> |
        <a href="@($"issuetypes/details?id={issuetype.Id}")">Details</a> |
        <a href="@($"issuetypes/delete?id={issuetype.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CFIssueTrackerContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
