@page "/projectcomponents/details"
@using Microsoft.EntityFrameworkCore
@using CFIssueTrackerCommon.Models
@inject IDbContextFactory<CFIssueTracker.Data.CFIssueTrackerContext> DbFactory
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Administrator,User")]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ProjectComponent</h2>
    <hr />
    @if (projectcomponent is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ProjectId</dt>
            <dd class="col-sm-10">@projectcomponent.ProjectId</dd>
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@projectcomponent.Name</dd>
        </dl>
        <div>
            <a href="@($"/projectcomponents/edit?id={projectcomponent.Id}")">Edit</a> |
            <a href="@($"/projectcomponents")">Back to List</a>
        </div>
    }
</div>

@code {
    private ProjectComponent? projectcomponent;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        projectcomponent = await context.ProjectComponent.FirstOrDefaultAsync(m => m.Id == Id);

        if (projectcomponent is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
