@page "/issuestatuses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CFIssueTrackerCommon.Data
@using CFIssueTrackerCommon.Models
@using CFIssueTracker.Data
@using CFIssueTracker.Utilities
@implements IAsyncDisposable
@inject IDbContextFactory<CFIssueTrackerContext> DbFactory

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Issue Status List</h1>

<p>
    <a href="issuestatuses/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.IssueStatus">
    <PropertyColumn Property="issuestatus => issuestatus.Name" />

    <TemplateColumn Title="Color" Context="issuestatus">
        <input type="color" value="@GetIssueStatusColor(@issuestatus)" />
    </TemplateColumn>

    <TemplateColumn Context="issuestatus">
        <a href="@($"issuestatuses/edit?id={issuestatus.Id}")">Edit</a> |
        <a href="@($"issuestatuses/details?id={issuestatus.Id}")">Details</a> |
        <a href="@($"issuestatuses/delete?id={issuestatus.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CFIssueTrackerContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }    

    private string GetIssueStatusColor(IssueStatus issueStatus)
    {
        return HTMLUtilities.GetHTMLColor(issueStatus.Color);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
