<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CFIssueTracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <AuthorizeView Roles="Administrator,User">
            <Authorized>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="issues">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Issues
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">      
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="issuestatuses">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Issue Statuses
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

         <AuthorizeView Roles="Administrator">      
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="issuetypes">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Issue Types
                    </NavLink>
                </div>
        </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">      
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="projects">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Projects
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">      
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="projectcomponents">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Project Components
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Administrator,User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reports">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reports
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auditeventtypes">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Audit Event Types
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator,User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auditevents">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Audit Events
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tags">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tags
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

         <AuthorizeView Roles="Administrator">      
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

